src/main/resources/xsd/codes/fn_shipment_by_mah_gtin.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../standard_types.xsd"/>
    <xs:complexType name="fn_shipment_by_mah_gtin">
        <xs:sequence>
            <xs:element name="operation_date" type="date_time_with_zone"/>
            <xs:element name="seller_id" type="sbj_partner_mapping_type"/>
            <xs:element name="receiver_id" type="sbj_location_mapping_type"/>
            <xs:element name="custom_receiver_id" type="sbj_location_mapping_type"/>
            <xs:element name="contract_type">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="doc_num" type="base_doc_num_type"/>
            <xs:element name="doc_date" type="base_date_type"/>
            <xs:element name="order_details">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="union" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="sgtin_detail">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sgtin" type="sgtin_base_type"/>
                                                <xs:element name="detail">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="gtin"
                                                  type="trade_item_mapping_type" minOccurs="1"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sscc_detail">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sscc" type="sscc_base_type"/>
                                                <xs:element name="detail">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="gtin"
                                                  type="trade_item_mapping_type" minOccurs="1"
                                                  maxOccurs="unbounded"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="ux_fn_ship_mah_gtin_sgtin">
                    <xs:selector xpath="union/sgtin_detail"/>
                    <xs:field xpath="sgtin"/>
                </xs:unique>
                <xs:unique name="ux_fn_ship_mah_gtin_sscc">
                    <xs:selector xpath="union/sscc_detail"/>
                    <xs:field xpath="sscc"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
