src/main/resources/xsd/erp/335-standard_price.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2019 (https://www.liquid-technologies.com)-->
<!-- XSD v.1.0-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../standard_types.xsd"/>
    <xs:element name="fts_data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="subject_id" type="sbj_location_mapping_type"> </xs:element>
                <xs:element name="operation_date" type="date_time_with_zone" minOccurs="0"> </xs:element>
                <xs:element name="fts_info" type="base_fts_info_type"> </xs:element>
                <xs:element minOccurs="0" name="external_operation_id" type="base_doc_num_type"/>
                <xs:choice minOccurs="0">
                    <xs:element name="invoice_num" type="base_doc_num_type"/>
                    <xs:element name="doc_num" type="base_doc_num_type"/>
                </xs:choice>
                <xs:choice minOccurs="0">
                    <xs:element name="invoice_date" type="base_date_type"/>
                    <xs:element name="doc_date" type="base_date_type"/>
                </xs:choice>
                <xs:element name="custom_procedure_code" type="base_custom_procedure_type"
                    minOccurs="0"> </xs:element>
                <xs:element name="order_details">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="union" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="item_id" type="trade_item_mapping_type"> </xs:element>
                                        <xs:element name="series_number" type="batch_or_lot_type"> </xs:element>
                                        <xs:element name="customs_value" type="base_price_type"> </xs:element>
                                        <xs:element name="confnum_info" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="confirm_doc"
                                                  type="base_type_confirm_doc"/>
                                                  <xs:choice>
                                                  <xs:element name="confirm_doc_date"
                                                  type="base_date_type"/>
                                                  <xs:element name="doc_date" type="base_date_type"
                                                  />
                                                  </xs:choice>
                                                  <xs:choice>
                                                  <xs:element name="confirm_doc_num"
                                                  type="base_doc_num_type"/>
                                                  <xs:element name="doc_num"
                                                  type="base_doc_num_type"/>
                                                  </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="quantity" type="xs:int" minOccurs="0"
                                            maxOccurs="1"> </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="unique_order_details">
                                    <xs:selector xpath="union"/>
                                    <xs:field xpath="item_id"/>
                                    <xs:field xpath="series_number"/>
                                </xs:unique>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
