src/main/resources/xsd/erp/342-standard_erp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../standard_types.xsd"/>
    <xs:element name="release_in_circulation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="subject_id" type="sbj_location_mapping_type"/>
                <xs:element name="operation_date" type="date_time_with_zone"/>
                <xs:element name="release_info">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="confirmation_num" type="base_doc_num_type"/>
                            <!--State Confirmation Number registration-->
                            <xs:element name="doc_num" type="base_doc_num_type" minOccurs="0"/>
                            <!--Document number-->
                            <xs:element name="doc_date" type="base_date_type"/>
                            <!-- Document date -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="invoice_date" type="base_date_type" minOccurs="0"/>
                <!--Not used-->
                <xs:element name="invoice_num" type="base_doc_num_type" minOccurs="0"/>
                <!--Not used-->
                <xs:element name="external_operation_id" type="base_doc_num_type" minOccurs="0"/>
                <!--Additional doc number-->
                <xs:element name="order_details">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="union">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="item_id" type="trade_item_mapping_type"/>
                                        <!-- ECC material number -->
                                        <xs:element name="series_number" type="batch_or_lot_type"/>
                                        <!-- Vendor batch number -->
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
